.form_deg
{
  padding-top: 200px;
}

.label_deg
{
  display: inline-block;
  color: skyblue;
  width: 100px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;

}
.login_form
{
  background-color: rgb(15, 62, 79);
  width: 400px;
  padding-top: 70px;
  padding-bottom: 70px;

}
.title_deg
{
  background-color: #000000;
  color:rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.body_deg
{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}